INTERNAL_API_BASE_URL=replaceMe
INTERNAL_API_USERNAME=replaceMe
INTERNAL_API_PASSWORD=replaceMe
SOUND_RATES=8000:32000
SOUND_TYPES=music:en-us-callie
EXTERNAL_SIP_IP=onlyIfNeeded # usually required during testing when local ip is needed instead of public ip
EXTERNAL_RTP_IP=onlyIfNeeded # usually required during testing when local ip is needed instead of public ip
RTP_START_PORT=onlyIfNeeded
RTP_END_PORT=onlyIfNeeded
AWS_ACCESS_KEY_ID=onlyIfNeeded
AWS_SECRET_ACCESS_KEY=onlyIfNeeded
SIP_BIND_IP=onlyIfNeeded # DigitalOcean: set to private IP for heartbeat. AWS: leave empty (auto-detects correctly)
